html,body{
    height:100%;
    padding:0;
    margin:0;
    overflow: hidden;
  }

  header {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 10%;
  }

  .cell {
    border: 1px solid gray;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
  }

  .row {
      display: flex;
  }

  .wrap {
      display: flex;
      justify-content: center;
      align-items: center;
  }